<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<p>Members:</p>
 <% @beer_club.users.each do |user| %>
   <p>Name: <%= link_to "#{user.username}", user %></p>
 <% end %>

<%= link_to 'Edit', edit_beer_club_path(@beer_club), class:'btn btn-primary' %>
<%= link_to 'Back', beer_clubs_path, class:'btn btn-primary' %>

<% if current_user && !Membership.is_a_member?(current_user.id)%>
<h2>Join new beer club</h2>

<%= form_for(@membership) do |f| %>
  <input type="hidden" value="<%= @beer_club.id %>" name="membership[beer_club_id]" id="membership_beer_club_id" />
  
  <%= f.submit class:'btn btn-primary' %>

<% end %>

<% end %>
