<p id="notice"><%= notice %></p>

<h2><%= @user.username %></h2>

<h3>Ratings</h3>

<p>
  Has made <%= pluralize(@user.ratings.count, 'rating') %>
</p>

<ul class="list-group">
    <% @user.ratings.each do |rating| %>
      <li class="list-group-item">
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger'  %>
        <% end %>
      </li>
    <% end %>
  </ul>
  
  <p>Clubs</p>
  
  <ul class="list-group">
      <% @user.memberships.each do |membership| %>
        <li class="list-group-item">
          <%= membership %>
          <% if @user == current_user %>
              <%= link_to 'delete', membership, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger'  %>
          <% end %>
        </li>
      <% end %>
    </ul>

<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-success' %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger'  %>
<% end %>

<%= link_to 'Back', users_path, class:'btn btn-primary' %>
